<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <title>TODO LIST</title>
    <!--Import styles-->
    <link rel="stylesheet" href="./assets/styles.css">
    </script>
    <!--Import Vue CDN-->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>

<body>
    <div id="app">
        <div class="heading">
            <h1>TODO maker</h1>
        </div>
        <div class="nav-bar">
            <a href="#">Home</a>
            <a href="#">Todo</a>
            <a href="#">Done</a>
            <a href="#">All</a>
        </div>
        <button type="button" @click="fillTable(Lists);">Inserer les données</button>
        
        <div class="task">
            <div class="outer-wrapper">
                <div class="table-wrapper">
                    <table id = heritageTable>
                        <thead>
                            <th col-index=1>name</th>
                            <th col-index=2>priority</th>
                            <th col-index=3>description</th>
                            <th col-index=4>Bouton</th>
                            <!-- Les colonnes sont ici -->
                        </thead>
                        <tbody>
                            <!-- Les données seront ici -->
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- <table>
                <tr>
                    <td v-for="(x, index) in Lists">
                        <div v-if="!Lists[index].done">
                            {{x.name}} - {{x.priority}}
                            <br>
                            {{x.description}}
                            <br>
                            <button type="button" @click="taskDone(index)">Done</button>
                        </div>
                    </td>
                </tr>
            </table> -->
        </div>

    </div>

    <!-- Import App -->
    <script src="./main.js"></script>
</body>

</html>